# FRONT (sí se sube el código, no las dependencias)
educacionApp/node_modules/
educacionApp/.expo/
educacionApp/dist/
educacionApp/build/
educacionApp/.env

# BACKEND
.env
__pycache__/
*.pyc
db.sqlite3

# NO subir configuración local
Educacion/settings.py
